*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: black;
}

.navbar{
  border-width: 13px;
  width: 100%;
  height: 65px;

}

#inicio{
  border:2px black;
  width: 14x;
  height: 55px;
  margin-left: 850px;
  margin-top: -15px;
  background-color: black;
}

#proyectos {
  border:2px black;
  background-color:black;
  width: 150px;
  height: 42px;
  margin-left: 10px;

}
#sobreMi{
  border:2px black;
  background-color:black;
  width: 150px;
  height: 42px;
  margin-left: -33px;

}

#contacto{
  border:2px black;
  background-color:black;
  width: 150px;
  height: 42px;
  margin-left: -33px;

}

#htmltxt{
  color: white;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}
#htmltxt:hover{
  color: grey;
  font-size: 16px;
  font-family: 'Lato', sans-serif; 
}