*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color:black;
  
}

.body2{
  width: 800px;
  height: 1000px;
  margin-left: 140px;

}

.navbar{
  border-width: 13px;
  width: 100%;
  height: 65px;
  font-size: 32px;
  /*border-bottom-color: gray;
  border-bottom-width: 1px;*/

}

#inicio{
  border:2px;
  width: 14x;
  height: 55px;
  margin-left: 950px;
  margin-top: -15px;
  background-color: black;
 
}



#proyectos {
  border:2px;
  background-color: black;
  width: 150px;
  height: 42px;
  margin-left: 10px;


}
#sobreMi{
  border:2px;
   /*background-color: black;*/
  width: 150px;
  height: 42px;
  margin-left: -33px;


}

#contacto{
  border:2px ;
  background-color: black;
  width: 150px;
  height: 42px;
  margin-left: -33px;


}

#htmltxt{
  color: white;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}
#htmltxt:hover{
  color: white;
  font-size: 15px;
  font-family: 'Lato', sans-serif; 
}

.subtitulo{
/*	color: #42cc86;*/
  color: #3C066C;
	font-size: 30px;
	font-family: 'Lato', sans-serif; 
  font-weight: large;
  

}

.titulo{
	color:  white;
	font-size: 110px;
  font-weight: bold;
	font-family: 'Lato', sans-serif; 

}

.subtitulo2{
	color:  white;
	font-size: 28px;
	font-family: 'Lato', sans-serif; 
  font-weight: bold;
}

.subtitulo3{
	color:  #8b8a82;
  
	font-size: 28px;
	font-family: 'Lato', sans-serif; 
  font-weight: bold;
}

.subtitulo4{
	color:  #8b8a82;
	font-size: 20px;
	font-family: 'Lato', sans-serif; 
}

.github{
  height: 30px;
  width: 30px;
 
  

}

.gmail{
  height: 25px;
  width: 25px;
  

}

.cv{
  height: 25px;
  width: 25px;
 

}
.linkedin{
  height: 25px;
  width: 25px;
  background-color: #43116F;
 

}

.novedad1{
  border: 1px;
  width: 90px;
  height: 45px;
  padding:1px;
  border-radius: 10px;
  margin: 5px;
  background-color: #290747;
  color: white;
  font-family: 'Lato', sans-serif; 
 
}

.novedad1:hover{
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px #6E6A72;
  transition: all 0.8s ease;
}

.novedad2{
  border: 1px;
  width: 100px;
  height: 45px;
  padding: 1px;
  border-radius: 10px;
  margin: 5px;
  background-color: #290747;
  color: white;
  
}

.novedad2:hover{
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px #6E6A72;
  transition: all 0.8s ease;
}

.novedad3{
  border: 1px;
  width: 100px;
  height: 45px;
  padding: 1px;
  border-radius: 10px;
  margin: 5px;
  background-color: #290747;
  color: white;
}

.novedad3:hover{
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px #6E6A72;
  transition: all 0.8s ease;
}

.novedad4{
  border: 1px;
  width: 150px;
  height: 45px;
  padding:1px;
  border-radius: 10px;
  margin: 5px;
  background-color: #290747;
  color: white;


}

.novedad4:hover{
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px #6E6A72;
  transition: all 0.8s ease;
}
