*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color:black;
  
}

.body2{
  width: 800px;
  height: 480px;
  margin-left: 140px;
  

}

.body3{
  width: 550px;
  height: 615px;
  
 

}

.body4{
  width: 1050px;
  height: 600px;
  margin-left: 140px;
  

}

.body5{
  width: 1050px;
  height: 600px;
  margin-left: 140px;
  

}
.page{
  margin: 0px auto;
  width: 100%;
  
  
  
 
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 7px;
    background-color: black;
    font-size: 20px;
    color: #FFFFFF;
    height: 70px;
    border-style: solid;
    border-width: 1px;
    border-color: #2E2B32 black #2E2B32 black;
    
    
  
}

.navbar{
  margin-left: 1000px;
}

.navbar3{
  
  width: 1000px;
  height: 80px;
  /*font-size: 32px;*/
  position: fixed;
  background-color: white;
  /*border-bottom-color: gray;
  border-bottom-width: 1px;*/

}

#inicio{
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  border: 1px;
  width: 90px;
  height: 45px;
  padding:1px;
  border-radius: 10px;
  margin: 5px;
  background-color: black;
  color: white;
  font-family: 'Lato', sans-serif; 
 
}

#inicio:hover{
  font-size: 16px;
}



#proyectos{
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  margin: 5px;
  border: 1px;
  width: 90px;
  height: 45px;
  padding:1px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-family: 'Lato', sans-serif; 


}

#proyectos:hover{
  font-size: 16px;
}

#contacto{
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  margin: 1px;
  border: 1px;
  width: 90px;
  height: 45px;
  padding:1px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-family: 'Lato', sans-serif; 

}

#contacto:hover{
  font-size: 16px;
}


.subtitulo{
/*	color: #42cc86;*/
  color: #290747;
	font-size: 30px;
	font-family: 'Lato', sans-serif; 
  font-weight: large;
  

}

.titulo{
	color:  white;
	font-size: 110px;
  font-weight: bold;
	font-family: 'Lato', sans-serif; 

}

.subtitulo2{
	color:  white;
	font-size: 28px;
	font-family: 'Lato', sans-serif; 
  font-weight: bold;
}

.subtitulo3{
	color:  #8b8a82;
  
	font-size: 28px;
	font-family: 'Lato', sans-serif; 
  font-weight: bold;
}

.subtitulo4{
	color:  #8b8a82;
	font-size: 20px;
	font-family: 'Lato', sans-serif; 
}

.subtitulo5{
	color:  #8b8a82;
	font-size: 19px;
	font-family: 'Lato', sans-serif; 
}

.github{
  height: 30px;
  width: 30px;
 
 
  

}

.gmail{
  height: 25px;
  width: 25px;
  
  

}

.cv{
  height: 25px;
  width: 25px;
  
 

}
.linkedin{
  height: 25px;
  width: 25px;

 

}

.novedad1{
  border: 1px;
  width: 90px;
  height: 45px;
  padding:1px;
  border-radius: 10px;
  margin: 5px;
  background-color: #290747;
  color: white;
  font-family: 'Lato', sans-serif; 
  
  

 
}

.novedad1:hover{
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px #6E6A72;
  transition: all 0.8s ease;
}

.novedad2{
  border: 1px;
  width: 100px;
  height: 45px;
  padding: 1px;
  border-radius: 10px;
  margin: 5px;
  background-color: #290747;
  color: white;
  
}

.novedad2:hover{
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px #6E6A72;
  transition: all 0.8s ease;
}

.novedad3{
  border: 1px;
  width: 100px;
  height: 45px;
  padding: 1px;
  border-radius: 10px;
  margin: 5px;
  background-color: #290747;
  color: white;
}

.novedad3:hover{
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px #6E6A72;
  transition: all 0.8s ease;
}

.novedad4{
  border: 1px;
  width: 150px;
  height: 45px;
  padding:1px;
  border-radius: 10px;
  margin: 5px;
  background-color: #290747;
  color: white;


}

.novedad4:hover{
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px #6E6A72;
  transition: all 0.8s ease;
}

.imagen{
  margin-left: 760px;
  margin-top: -530px;
  padding: 10px;
  

}

.me{
  width:400px;
  height:400px;
  border-radius:185px;
}