*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color:black;
  
}

.body2{
  width: 800px;
  height: 480px;
  margin-left: 140px;
  

}

.body3{
  width: 550px;
  height: 615px;
  
 

}

.body4{
  width: 800px;
  height: 600px;
  margin-left: 140px;
  

}

.body5{
  /*width: 1050px;
  height: 600px;
  margin-left: 140px;*/
  width: 1070px;
  height: 950px;
  margin-left: 140px;
 
  

}

.body6{
  width: 1070px;
  height: 500px;
  margin-top: 100px;

}

.tech-skills{
  width: 500px;
  height: 500px;
  margin-top: 0%;
  

}

.soft-skills{
  width: 500px;
  height: 500px;
  margin-left: 570px;
  margin-top: -500px;
 
  

}

.page{
  margin: 0px auto;
  width: 100%;
  
  
  
 
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 7px;
    background-color: black;
    font-size: 20px;
    color: #FFFFFF;
    height: 70px;
    border-style: solid;
    border-width: 1px;
    border-color: #2E2B32 black #2E2B32 black;
    
    
  
}

.navbar{
  margin-left: 1000px;
}

.navbar3{
  
  width: 1000px;
  height: 80px;
  /*font-size: 32px;*/
  position: fixed;
  background-color: white;
  /*border-bottom-color: gray;
  border-bottom-width: 1px;*/

}

#inicio{
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  border: 1px;
  width: 90px;
  height: 45px;
  padding:1px;
  border-radius: 10px;
  margin: 5px;
  background-color: black;
  color: white;
  font-family: 'Lato', sans-serif; 
 
}

#inicio:hover{
  font-size: 16px;
}



#proyectos{
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  margin: 5px;
  border: 1px;
  width: 90px;
  height: 45px;
  padding:1px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-family: 'Lato', sans-serif; 


}

#proyectos:hover{
  font-size: 16px;
}

#contacto{
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  margin: 1px;
  border: 1px;
  width: 90px;
  height: 45px;
  padding:1px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-family: 'Lato', sans-serif; 

}

#contacto:hover{
  font-size: 16px;
}


.subtitulo{
/*	color: #42cc86;*/
  color: #290747;
	font-size: 30px;
	font-family: 'Lato', sans-serif; 
  font-weight: large;
  

}

.titulo{
	color:  white;
	font-size: 110px;
  font-weight: bold;
	font-family: 'Lato', sans-serif; 

}

.subtitulo2{
	color:  white;
	font-size: 28px;
	font-family: 'Lato', sans-serif; 
  font-weight: bold;
}

.subtitulo3{
	color:  #8b8a82;
  
	font-size: 28px;
	font-family: 'Lato', sans-serif; 
  font-weight: bold;
}

.subtitulo4{
	color:  #838383;
	font-size: 20px;
	font-family: 'Lato', sans-serif; 
}

.subtitulo5{
	color:  #8b8a82;
	font-size: 19px;
	font-family: 'Lato', sans-serif; 
}

.github{
  height: 30px;
  width: 30px;
 
 
  

}

.gmail{
  height: 25px;
  width: 25px;
  
  

}

.cv{
  height: 25px;
  width: 25px;
  
 

}
.linkedin{
  height: 25px;
  width: 25px;

 

}

.novedad1{
  border: 1px;
  width: 90px;
  height: 45px;
  padding:1px;
  border-radius: 10px;
  margin: 5px;
  background-color: #290747;
  color: #838383;
  font-family: 'Lato', sans-serif; 
  
  

 
}

.novedad1:hover{
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px #6E6A72;
  transition: all 0.8s ease;
}

.novedad2{
  border: 1px;
  width: 100px;
  height: 45px;
  padding: 1px;
  border-radius: 10px;
  margin: 5px;
  background-color: #290747;
  color: #838383;
  
}

.novedad2:hover{
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px #6E6A72;
  transition: all 0.8s ease;
}

.novedad3{
  border: 1px;
  width: 100px;
  height: 45px;
  padding: 1px;
  border-radius: 10px;
  margin: 5px;
  background-color: #290747;
  color: #838383;
}

.novedad3:hover{
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px #6E6A72;
  transition: all 0.8s ease;
}

.novedad4{
  border: 1px;
  width: 150px;
  height: 45px;
  padding:1px;
  border-radius: 10px;
  margin: 5px;
  background-color: #290747;
  color: #838383;


}

.novedad4:hover{
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px #6E6A72;
  transition: all 0.8s ease;
}

.imagen{
  margin-left: 760px;
  margin-top: -530px;
  padding: 10px;
  

}

.me{
  width:400px;
  height:400px;
  border-radius:185px;
}

/*Cards*/

.card-title2{
  color:black;
  text-align: left;
  font-size: 25px;
  margin-left: 7px;

}

.card-text2{
  font-size: 17px;
  margin-left: 7px;

}

.inodoro{
  width: 50px;
  height: 40px;
  margin-left: 30px;

}

.estacionamiento{
  width: 50px;
  height: 40px;
  margin-left: 125px;
  margin-top: -38px;
}
/*Casa de lujo*/
.casaDeLujo{
  width: 500px;
  height: 420px;
  background-color:  #131411;
  margin-left: -15px;
  margin-top: 110px;
  border-radius: 10px;
}

.casaDeLujo-img{
  width: 100%;
  height: 250px;
  border-radius: 10px;

}

/*Casa Terminada*/
.casaTerminada{
  width: 500px;
  height: 420px;
  background-color:  #131411;
  margin-left: 555px;
  margin-top: -550px;
  border-radius: 10px;
  

}

.casaTerminada-img{
  width: 100%;
  height: 250px;
  margin-top: -100px;
  
}

/*Proyecto 01*/
.proyecto01{
  width: 500px;
  height: 400px;
  background-color: black;
  margin-left: 570px;
  margin-top: -35px;
  border-radius: 10px;
  
  
  

}

.proyecto01-img{
  width: 100%;
  height: 255px;

  border-radius: 10px 10px 0px 0px;
 
  
}

/*Alberca
.casaAlberca{
  width: 400px;
  height: 600px;
  background-color: green;

}

.casaAlberca-img{
  width: 100%;
  height: 300px;

}*/
/*Poryecto 01*/
.github01{
  height: 30px;
  width: 30px;
  border: 1px;
  padding:1px;
  border-radius: 5px;
  background-color:  #413F3F;
  font-family: 'Lato', sans-serif; 
  margin-left: 230px;

  margin-top: 10px;
 
 
  

}
.github01:hover{
  background-color: #b2a9b2;
  transition: all 0.8s ease;
}

.enlace{
  height: 30px;
  width: 30px;
  border: 1px;
  padding:1px;
  border-radius: 5px;
  background-color:  #413F3F;
  font-family: 'Lato', sans-serif; 
  margin-top: 10px;
 
 
  

}
.enlace:hover{
  background-color: #b2a9b2;
  transition: all 0.8s ease;
}

/*Poryecto 02*/
.github02{
  height: 30px;
  width: 30px;
  border: 1px;
  padding:1px;
  border-radius: 5px;
  background-color:  #413F3F;
  font-family: 'Lato', sans-serif; 
  margin-left: 273px;

  margin-top: 10px;
 
 
  

}

.github02:hover{
  background-color: #b2a9b2;
  transition: all 0.8s ease;
}

.enlace02{
  height: 30px;
  width: 30px;
  border: 1px;
  padding:1px;
  border-radius: 5px;
  background-color:  #413F3F;
  font-family: 'Lato', sans-serif; 
  margin-top: 10px;
 
 
  

}
.enlace02:hover{
  background-color: #b2a9b2;
  transition: all 0.8s ease;
}

.nombre-proyecto{
  color:  white;
	font-size: 22px;
	font-family: 'Heebo', sans-serif;
  font-family: 'Lora', serif;
  font-weight: bold;
  margin-left: 17px;
  
 

  
  

 
  
}

.proyect{
  margin-top: 12px;
}

.cuerpo-proyecto{
  margin-left: 15px;
  width: 470px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #2E2B32 #131411 #131411 #131411;
  margin-top: 10px;
  
}

.cuerpo-letras{
  color: #8b8a82;
	font-size: 19px;
	font-family: 'Lato', sans-serif; 

}

.tecnologias{
  margin-left: 15px;
  opacity:0.7;
 filter:alpha(opacity=80); /* For IE8 and earlier */
 color: rgba(255, 255, 255, 1) ;
  box-shadow: 0 2px 14px #6E6A72;
  transition: all 0.8s ease;
  
  
}

.casaTerminada2{
  width: 500px;
  height: 420px;
  background-color:  #131411;
  margin-left: 555px;
  margin-top: 50px;
  border-radius: 10px;
  

}

/*Poryecto 03*/
.github03{
  height: 30px;
  width: 30px;
  border: 1px;
  padding:1px;
  border-radius: 5px;
  background-color:  #413F3F;
  font-family: 'Lato', sans-serif; 
  margin-left: 230px;

  margin-top: 10px;
 
 
  

}

.github03:hover{
  background-color: #b2a9b2;
  transition: all 0.8s ease;
}

.enlace03{
  height: 30px;
  width: 30px;
  border: 1px;
  padding:1px;
  border-radius: 5px;
  background-color:  #413F3F;
  font-family: 'Lato', sans-serif; 
  margin-top: 10px;
 
 
  

}

.enlace03:hover{
  background-color: #b2a9b2;
  transition: all 0.8s ease;
}


/*Soft Skills*/
.skills01{
  border-radius: 10px;
  /*border-color: black black #2E2B32 black;*/
  width: 495px;
  height: 50px;
  margin-left: 12px;
  background-color:#131411;
  text-align: center;
  
}

.text-skills{
  color:  white;
	font-size: 28px;
	font-family: 'Lato', sans-serif; 
  font-weight: bold;
  
  

}

.skills02{
  text-align: center;
  height: 50px;
  width: 500px;
  margin-left: 0px;
  background-color:#131411;
  border-radius: 10px;
  
  
}

.lista-soft{
  color: white;
  font-size: 20px;
  font-family: 'Lato', sans-serif; 
  margin-left: 45px;
  margin-top: 35px;
 

  
  
}

.tilde{
  height: 30px;
  width: 25px;
  
}


.nombre-tech{
  color: grey;
  font-size: 17px;
  font-family: 'Lato', sans-serif; 
  
}
/*Spring*/
.spring{
  height: 60px;
  width: 60px;
  margin-left: 13px;
  
}
.tech-spring{
  width: 100px;
  height: 100px;
  margin-left: 45px;/*35*/
  margin-top: 35px;
}

/*Hibernate*/
.hibernate{
  height: 60px;
  width: 60px;
  margin-left: 5px;
  
}

.tech-hibernate{
  width: 100px;
  height: 100px;
  margin-left: 160px;
  margin-top: -100px;
}

/*Java*/
.java{
  height: 70px;
  width: 70px;
  margin-left: -13px;
  
}

.tech-java{
  width: 100px;
  height: 100px;
  margin-left: 270px;
  margin-top: -110px;
}

/*React*/
.react{
  height: 70px;
  width: 70px;
  margin-left: 0px;
  
}

.tech-react{
  width: 100px;
  height: 100px;
  margin-left: 350px;
  margin-top: -100px;
}

/*Amazon*/
.amazon{
  height: 70px;
  width: 70px;
  margin-left: 0px;
  
}

.tech-amazon{
  width: 150px;
  height: 100px;
  margin-left: 50px;/*35*/
  margin-top: 15px;
}

/*Mysql*/
.mysql{
  height: 70px;
  width: 70px;
  margin-left: -8px;
  
}

.tech-mysql{
  width: 150px;
  height: 100px;
  margin-left: 168px;/*35*/
  margin-top: -100px;
}

/*C*/
.c{
  height: 70px;
  width: 70px;
  margin-left: 0px;
  
}

.tech-c{
  width: 150px;
  height: 100px;
  margin-left: 255px;
  margin-top: -90px;
}

/*JS*/
.js{
  height: 60px;
  width: 60px;
  margin-left: 7px;
  
}

.tech-js{
  width: 150px;
  height: 100px;
  margin-left: 350px;
  margin-top: -100px;
}

/*Boostrap*/
.bootstrap{
  height: 60px;
  width: 60px;
  margin-left: 5px;
  
}

.tech-bootstrap{
  width: 150px;
  height: 100px;
  margin-left: 50px;
  margin-top: 30px;
}

/*CSS3*/
.css{
  height: 65px;
  width: 65px;
  margin-left: -9px;
  
}

.tech-css{
  width: 150px;
  height: 100px;
  margin-left: 165px;
  margin-top: -100px;
}

/*html*/
.html{
  height: 65px;
  width: 65px;
  margin-left: -5px;
  
}

.tech-html{
  width: 150px;
  height: 100px;
  margin-left: 260px;
  margin-top: -100px;
}

/*git*/
.git{
  height: 70px;
  width: 70px;
  margin-left: -20px;
  
}

.tech-git{
  width: 150px;
  height: 100px;
  margin-left: 375px;
  margin-top: -105px;
}